.title {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    animation: glow 1s ease-in-out infinite alternate;
    text-align:center;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }
  
    to {
      text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00;
    }
  }
  
  .dropdown {
    transition: all 0.3s;
  }
  
  .dropdown:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .datepicker .DateInput {
    background-color: #3E3E3E;
    border: 1px solid #CFCFCF;
    color: #CFCFCF;
}

.datepicker .DateInput input {
    color: #CFCFCF;
}

.datepicker .DateRangePickerInput {
    background-color: #3E3E3E;
}

.datepicker .DateRangePickerInput_arrow {
    color: #CFCFCF;
}

.datepicker .DayPicker {
    background-color: #3E3E3E;
}

.datepicker .CalendarMonth_caption {
    color: #CFCFCF;
}

.datepicker .DayPicker_weekHeader {
    color: #CFCFCF;
}

.datepicker .DayPicker_weekday {
    color: #CFCFCF;
}

.datepicker .DayPicker_day {
    color: #CFCFCF;
}

.datepicker .DayPicker_day--selected, .datepicker .DayPicker_day--hovered {
    background-color: #007bff;
    color: #fff;
}

.datepicker .DayPicker_day--blocked {
    background-color: #3E3E3E;
    color: #8C8C8C;
}

  